<!DOCTYPE html>
<html>
  <head>
    <title>ScribblePlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "scribble_logo.png", rel: "apple-touch-icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-amber-50 text-stone-900">
    <%= render partial: "homes/nav" %>
    
    <div class="bg-indigo-800 text-white px-4 py-3 flex items-center gap-2">
      <span class="font-bold">🚧 Work in Progress:</span>
      <span class="opacity-75">Right now, Scribble is under active development. UI will be shifting and data integrity isn't guaranteed.</span>
    </div>

    <% flash.each do |type, message| %>
      <div class="bg-<%= type == "notice" ? "green" : "red" %>-500 text-white px-4 py-3 flex items-center gap-2" role="alert">
        <span class="font-bold"><%= type.capitalize %></span>
        <span class="opacity-75"><%= message %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
    <% end %>


    <main class="scribble-main-container mx-auto flex flex-col text-center">
      <%= yield %>
    </main>

    <%= render partial: "homes/footer" %>
  </body>
</html>
