<!DOCTYPE html>
<html>
  <head>
    <title>ScribblePlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "scribble_logo.png", rel: "apple-touch-icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="18a20a88-badc-41f4-bc48-22b65d5100f5" async></script>
  </head>

  <body class="bg-amber-50 text-stone-900">
    <%= render partial: "homes/nav" %>

    <% flash.each do |key, message| %>
      <div class="bg-stone-700 text-white px-4 py-3 flex items-center justify-between gap-2" role="alert">
        <div>  
          <span class="opacity-75"><%= message %></span>
        </div>
        <button type="button" onclick="this.parentElement.style.display='none'" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
    <% end %>


    <main class="scribble-main-container mx-auto flex flex-col text-center">
      <%= yield %>
    </main>
  </body>
</html>
